# vim
.*.sw[a-z]
*.un~
Session.vim

# textmate
*.tmproj
*.tmproject
tmtags

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes
*.swp
pretty/zj
zj*

.idea/*
# gdb
*.gdb_history
__*
*.test

go.sum
autoGenerate
coverage.txt